<!-- Citation for the following code:
Date: 12/22/2024 & 12/28/2024
Adapted from two sources
1. people.html starter code:
Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327 
2. nodejs-starterapp:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main -->
<!DOCTYPE html>
<html>
    <head>
        <title>Dragon Abilities</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script language="JavaScript">
        function showform(dowhat) {
            /*
            * four DIVS: browse, insert, update, delete
            * this function sets one visible the others not
            */
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            }
            else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            }
            else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('update').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            }
            else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('update').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }
        function newAbility() { showform('insert'); }
        function updateAbility(pid) { showform('update'); }
        function deleteAbility(pid) { showform('delete'); }
        function browseAbilities() { showform('browse'); }
        function showAll() { showform('all'); }
        function populateUpdateForm(abilityId) {
    $.ajax({
        url: `/abilities/${abilityId}`,
        type: 'GET',
        success: function(data) {
            document.getElementById('update-ability-id').value = data.ability_id;
            document.getElementById('input-ability-name').value = data.ability_name;
            document.getElementById('input-ability-proficiency').value = data.ability_proficiency;
        },
        error: function(error) {
            console.log('Error fetching ability details:', error);
        }
    });
    document.getElementById('update').style.display = 'block'; 
}

    </script>

    </head>

    <body onload="browseAbilities()">

        <h1>Dragon Abilities</h1>

        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="abilities">Abilities</a></li>
                <li><a href="environments">Environments</a></li>
                <li><a href="types">Types</a></li>
                <li><a href="dragons">Dragons</a></li>
            </ul>
        </nav>

        <!-- browse -->
        <div id="browse" style="display: block">
            {{!-- <p><a href="#" onClick="showAll()">Display all forms</a> </p>
            --}}
            <h2><strong>Browse Dragon Abilities</strong></h2>
            <button class="new-btn"
                onclick="newAbility()">New Ability</button>
            <table id="abilities-table">
                <thead>
                    <tr>
                        {{#each data.[0]}}
                        <th>{{@key}}</th>
                        {{/each}}
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr data-value={{this.ID}}>
                        <td align="center">{{this.ID}}</td>
                        <td align="center">{{this.Name}}</td>
                        <td align="center">{{this.Proficiency}}</td>
                        <td align="center">
                            <button class="edit-btn"
                                onclick="populateUpdateForm('{{this.ID}}', '{{this.Name}}', '{{this.Proficiency}}')">Edit
                                Ability</button>
                        </td>
                        <td align="center">
                            <button class="delete-btn"
                                onclick="deleteAbility('{{this.ID}}')">Delete
                                Ability</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <script src="./js/abilities/delete_ability.js" defer></script>

        <!-- add new dragon ability -->
        <div id="insert" style="display: none;">
            <form method="POST" id="add-ability-form" action="/abilities/add">
                <legend><strong>Add New Ability</strong></legend>
                <fieldset class="fields">
                    <label>Name:</label> <input type="text"
                        name="ability_name" required><br>
                    <label>Proficiency:</label> <select
                        name="ability_proficiency" required>
                        <option value="Apprentice">Apprentice</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Master">Master</option>
                    </select>
                </fieldset>
                <input class="btn btn-cancel" type="button" value="Cancel"
                    onClick="browseAbilities()">
                <input class="btn" type="submit" id="submitAbilityForm"
                    value="Add Ability">
            </form>
        </div>
        <script src="./js/abilities/add_ability.js" defer></script>

        <!-- update ability -->
        <div id="update" style="display: none;">
            <form id="update-ability-form-ajax">
                <legend><strong>Update Ability</strong></legend>
                <fieldset class="fields">
                    <label>Ability ID:</label> <input type="text"
                        id="update-ability-id"
                        name="ability_id" readonly><br>
                    <label>Name:</label> <input type="text"
                        id="input-ability-name" name="ability_name"
                        required><br>
                    <label>Proficiency:</label> 
                    <select id="input-ability-proficiency"
                        name="ability_proficiency">
                        <option>Apprentice</option>
                        <option>Intermediate</option>
                        <option>Master</option>
                    </select><br>
                </fieldset>
                <input class="btn btn-cancel" type="button" value="Cancel"
                    onClick="browseAbilities()">
                <input class="btn" type="submit" value="Save Ability">
            </form>
        </div>
        <script src="./js/abilities/update_ability.js" defer></script>

        <!-- delete ability -->
        <div id="delete" style="display: none;">
            <form method="POST" id="deleteAbility">
                <legend><strong>Delete Ability</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following
                        ability?</p>
                    <input type="hidden" name="personID" id="deletepersonID"
                        value="1">
                    <label>ID:</label> 1 <br>
                    <label>Name:</label> Blue Flame
                </fieldset>
                <input class="btn btn-cancel" type="button" value="Cancel"
                    onClick="browseAbilities()">
                <input class="btn" type="submit" value="Delete Ability">
            </form>
        </body>

    </html>