<!-- Citation for the following code:
Date: 12/22/2024 & 12/28/2024
Adapted from two sources
1. people.html starter code:
Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327 
2. nodejs-starterapp:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main -->
<!DOCTYPE html>
<html>
    <head>
        <title>Dragons</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <script
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" defer></script>

        <script language="JavaScript">
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'delete') {
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
           document.getElementById('delete').style.display = 'block';
        }
        else if (dowhat == 'all') {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
           document.getElementById('delete').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
           document.getElementById('delete').style.display = 'none';
        }
    }


    function newDragon() { showform('insert'); }
    function updateDragon(pid) { showform('update'); }
    function deleteDragon(pid) { showform('delete'); }
    function browseDragons() { showform('browse'); }
    function showAll() { showform('all'); }
    function populateUpdateForm(dragonId) {
        $.ajax({
        url: `/dragons/${dragonId}`, // Adjust this URL to match your endpoint
        type: 'GET',
        success: function(data) {
            // Clear previous Abilities
            let abilitiesSelect = document.getElementById('input-abilities');
            Array.from(abilitiesSelect.options).forEach(option => {
                option.selected = false;
            });

            // Types Dropdown
            let typeSelect = document.getElementById('input-type');
            if (!data.type) {
                Array.from(typeSelect.options).forEach(option => {
                    if (option.value === "") { // "None" is a placeholder value for no type or NULL
                        option.selected = true;
                    }
                });
            } else {
                Array.from(typeSelect.options).forEach(option => {
                    if (option.text === data.type) {
                        option.selected = true;
                    }
                });
            }
            
            // Environments Dropdown
             let environmentSelect = document.getElementById('input-environment');
            Array.from(environmentSelect.options).forEach(option => {
                if (option.text === data.environment) {
                    option.selected = true;
                }
            });

            document.getElementById('update-dragon-id').value = data.dragon_id;
            document.getElementById('input-name').value = data.dragon_name;
            document.getElementById('input-height').value = data.dragon_height;
            document.getElementById('input-weight').value = data.dragon_weight;
            document.getElementById('input-age').value = data.dragon_age;
            document.getElementById('input-personality').value = data.dragon_personality;
            document.getElementById('input-alignment').value = data.dragon_alignment;
            document.getElementById('input-number_of_people_killed').value = data.number_of_people_killed;
            document.getElementById('input-lore').value = data.dragon_lore;

             // Abilities Select
            let abilitiesArray = data.Abilities.split(', '); 
            abilitiesArray.forEach(ability => {
                for (let option of abilitiesSelect.options) {
                    if (option.text.trim() === ability.trim()) {
                        option.selected = true;
                        break;
                    }
                }
            });  
            refreshFauxCheckboxesForSelect('input-abilities'); 
        },
        error: function(error) {
            console.log('Error fetching dragon details:', error);
        }
    })
    

    document.getElementById('update').style.display = 'block';
}
</script>
    </head>

    <body onload="browseDragons()">

        <h1>Dragons</h1>

        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="dragons">Dragons</a></li>
                <li><a href="types">Types</a></li>
                <li><a href="abilities">Abilities</a></li>
                <li><a href="environments">Environments</a></li>
            </ul>
        </nav>

        <!-- browse -->
        <div id="browse" style="display: block">
            {{!-- <p><a href="#" onClick="showAll()">Display all forms</a> </p>
            --}}
            <p><strong>Browse Dragons</strong></p>
            <div class="new-button-container">
                <button class="new-btn"
                    onclick="newDragon()">New Dragon</button>
            </div>
            <table id="dragons-table">
                <thead>
                    <tr>

                    </tr>
                    <tr>
                        {{#each data.[0]}}
                        <th>{{@key}}</th>
                        {{/each}}
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr data-value={{this.ID}}>
                        <td align="center">{{this.ID}}</td>
                        <td align="center">{{this.Name}}</td>
                        <td align="center">{{this.Type}}</td>
                        <td align="center">{{this.Height}} ft</td>
                        <td align="center">{{this.Weight}} lbs</td>
                        <td align="center">{{this.Age}} yrs</td>
                        <td align="center">{{this.Personality}}</td>
                        <td align="center">{{this.Alignment}}</td>
                        <td align="center">{{this.Environment}}</td>
                        <td align="center">{{this.Abilities}}</td>
                        <td align="center">{{this.Number_of_People_Killed}}</td>
                        <td>{{this.Lore}}</td>

                        <td><button class="edit-btn"
                                onclick="populateUpdateForm('{{this.ID}}', '{{this.Name}}', '{{this.Type}}', '{{this.Height}}', '{{this.Weight}}', '{{this.Age}}', '{{this.Personality}}', '{{this.Alignment}}', '{{this.Environment}}', '{{this.Abilities}}', '{{this.Number_of_People_Killed}}', '{{this.Lore}}')">Edit
                                Dragon</button></td>
                        <td><button class="delete-btn"
                                onclick="deleteDragon({{this.ID}})">Delete
                                Dragon</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <script src="./js/dragons/delete_dragon.js" defer></script>

        <!--add new dragon-->
        <div id="insert" style="display: none">
            <form method="POST" id="add-dragon-form" action="/dragons/add">
                <legend><strong>Add Dragon</strong></legend>
                <fieldset class="fields">
                    <label>Name:</label> <input type="text"
                        name="dragon_name" required><br>
                    <label for="type_id">Type:</label>
                    <select name="type_id" id="type_id">
                        {{#each types}}
                        <option
                            value="{{this.type_id}}">{{this.type_name}}</option>
                        {{/each}}
                        <option value>None</option>
                    </select>
                    <br>
                    <label>Height (ft):</label> <input type="number" step=".1"
                        min="1"
                        name="dragon_height" required><br>
                    <label>Weight (lbs):</label> <input type="number" step=".1"
                        min="1"
                        name="dragon_weight" required><br>
                    <label>Age:</label> <input type="number" min="0"
                        name="dragon_age" required><br>
                    <label>Personality:</label> <input type="text"
                        name="dragon_personality" required><br>
                    <label>Alignment:</label>
                    <select id="dragon_alignment" name="dragon_alignment">
                        <option>Lawful Good</option>
                        <option>Lawful Neutral</option>
                        <option>Lawful Evil</option>
                        <option>Neutral Good</option>
                        <option>True Neutral</option>
                        <option>Neutral Evil</option>
                        <option>Chaotic Good</option>
                        <option>Chaotic Neutral</option>
                        <option>Chaotic Evil</option>
                    </select>
                    <br>
                    <label>Environment:</label> <select id="environment_id"
                        name="environment_id">
                        <!-- Dynamically populate environments -->
                        {{#each environments}}
                        <option
                            value="{{this.environment_id}}">{{this.environment_name}}</option>
                        {{/each}}
                    </select><br>
                    <label>Abilities:</label><small>Multiple options can be searched for and selected.</small><br>
                    <select multiple
                       id="add-input-abilities" name="abilities[]">
                        {{#each abilities}}
                        <option
                            value="{{this.ability_id}}">{{this.ability_name}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <label>Number of People Killed:</label> <input type="number"
                        min="0"
                        name="number_of_people_killed" required><br>
                    <label>Lore:</label> <textarea id="dragon_lore"
                        name="dragon_lore" rows="5" cols="5"
                        required></textarea>
                </fieldset>
                <input class="btn btn-cancel" type="button" value="Cancel"
                    onClick="browseDragons()">
                <input class="btn" id="submitDragonForm" type="submit"
                    value="Add Dragon">
            </form>
        </div>

        <script src="./js/dragons/add_dragon.js" defer></script>

        <!-- update dragon -->
        <div id="update" style="display: none">
            <form id='update-dragon-form-ajax'>
                <legend><strong>Update Dragon</strong></legend>
                <fieldset class="fields">
                    <label>ID:</label> <input type="text" name="dragon_id"
                        id="update-dragon-id" readonly><br>
                    <label>Name:</label> <input type="text" id="input-name"
                        required
                        name="dragon_name"><br>
                    <label>Type:</label> <select name="type_id" id="input-type">
                        {{#each types}}
                        <option
                            value="{{this.type_id}}">{{this.type_name}}</option>
                        {{/each}}
                        <option value>None</option>
                    </select>
                    <br>
                    <label>Height (ft):</label> <input type="number" step=".1"
                        min="1"
                        id="input-height" name="dragon_height"><br>
                    <label>Weight (lbs):</label> <input type="number" step=".1"
                        min="1"
                        id="input-weight" name="dragon_weight"><br>
                    <label>Age:</label> <input type="number" id="input-age"
                        min="0"
                        name="dragon_age"><br>
                    <label>Personality:</label> <input type="text"
                        id="input-personality" name="dragon_personality"><br>
                    <label>Alignment:</label>
                    <select id="input-alignment" name="dragon_alignment">
                        <option>Lawful Good</option>
                        <option>Lawful Neutral</option>
                        <option>Lawful Evil</option>
                        <option>Neutral Good</option>
                        <option>True Neutral</option>
                        <option>Neutral Evil</option>
                        <option>Chaotic Good</option>
                        <option>Chaotic Neutral</option>
                        <option>Chaotic Evil</option>
                    </select>
                    <br>
                    <label>Environment:</label> <select id="input-environment"
                        name="environment_id">
                        {{#each environments}}
                        <option
                            value="{{this.environment_id}}">{{this.environment_name}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <label>Abilities:</label><small> Multiple options can be searched for and selected.</small><br>
                    <select multiple id="input-abilities" 
                        name="abilities[]">
                        {{#each abilities}}
                        <option
                            value="{{this.ability_id}}">{{this.ability_name}}</option>
                        {{/each}}
                    </select>
                    <br>
                    <label>Number of People Killed:</label> <input type="number"
                        min="0"
                        id="input-number_of_people_killed"
                        name="number_of_people_killed" required>
                    <br>
                    <label>Lore:</label> <textarea id="input-lore"
                        name="dragon_lore" rows="5" cols="5"
                        required></textarea>
                    <br>
                </fieldset>
                <input class="btn btn-cancel" type="button" value="Cancel"
                    onClick="browseDragons()">
                <input class="btn" type="submit" value="Save Dragon">
            </form>
        </div>
        <script src="./js/dragons/update_dragon.js" defer></script>

        <!-- delete dragon obsolete now -->
        <div id="delete" style="display: none">
            <form id="delete-dragon-ajax">
                <legend><strong>Delete Dragon</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following dragon?</p>
                    <input type="hidden" name="dragonID" id="deletedragonID"
                        value="1">
                    <label>ID:</label><br>
                    <label>Name:</label>
                </fieldset>
                <input class="btn btn-cancel" type="button" value="Cancel"
                    onClick="browseDragons()">
                <input class="btn" id="deleteDragonButton" type="submit"
                    value="Delete Dragon">
            </form>
        </div>

        <script src="./js/dragons/dragon_lore_ellipsis.js" defer></script>
        <script src="./js/dragons/require_dragon_abilities.js" defer></script>
        <script src="./js/dragons/dragon_abilities_select.js" defer></script>
    </body>
</html>